body{
    background: #819ca9;
}

.navbar {
    background: #29434e;
    padding: 0px;
    margin-bottom: 10px;
}

.navbar .container{
    height: 100%;
}
.navbar-brand {
    background: #4db6ac;
    height: 100%;
    border-radius: 0px 0px 10px 10px;
}

.navbar-brand h1 {
    padding: 10px 15px 5px 15px;
    color: #ffffff;
}

.navbar .nav-link {
    color: #ffffff;
    margin-left: 5px;
    border-radius: 5px;
    border-top: 5px solid #29434e;
    padding-top: 10px;
}

.navbar .active{
    border-top: 5px solid #4db6ac;
}

section.main {
    background: #29434e;
    border-radius: 10px;
    color: #ffffff;
}

.info {
    padding: 15px;
}

hr {
    border:1px solid #4db6ac;
}

#profile_image {
    padding: 0px 15px 15px 0px;
    width: 30%
}

@media screen and (max-width: 992px){
    #profile_image{
        width: 40%;
    }
}

@media screen and (max-width: 768px){
    #profile_image{
        width: 50%;
    }
}

@media screen and (max-width: 576px){
    #profile_image{
        width: 100%;
    }
}

.main a {
    color: #4db6ac;
    font-weight: bold;
}